<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <!-- responsive -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta name="author" content="Heanes heanes.com email(heanes@163.com)"/>
    <meta name="keywords" content="软件,商务,HTML,tutorials,source codes"/>
    <meta name="description" content="描述，不超过150个字符"/>
    <!-- favicon -->
    <link rel="shortcut icon" href="/public/static/image/favicon/favicon.ico"/>
    <link rel="bookmark" href="/public/static/image/favicon/favicon.ico"/>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="//ui.heanes.com/dist/css/heanesUI.css"/>
    <link rel="stylesheet" type="text/css" href="../css/css.css"/>
<title>全结构页面</title>
</head>
<body class="full-frame-example marked">
<!-- S 左侧功能区 S -->
<div class="left-bar clearfix">
    <div class="left-bar-content"></div>
</div>
<!-- E 左侧功能区 E -->
<div class="wrap">
    <!-- S header 头部 S -->
    <div class="header"></div>
    <!-- E header 头部 E-->
    <!-- S main 主要内容 S -->
    <div class="main">
        <!-- 顶部全宽度内容区域 -->
        <div class="full-width-block">
            <div class="main-top-block"></div>
        </div>
        <div class="main-width-block main-wrap">
            <!-- 顶部内容 -->
            <div class="main-top-content"></div>
            <!-- 主体内容 -->
            <div class="main-content clearfix">
                <!-- 左侧区域 -->
                <div class="left-block left-wrap fl">
                    <div class="left-content"></div>
                </div>
                <!-- 中心区域 -->
                <div class="center-block center-wrap fl">
                    <div class="center-content"></div>
                </div>
                <!-- 右侧区域 -->
                <div class="right-block right-wrap fl">
                    <div class="right-content"></div>
                </div>
            </div>
            <!-- 底部区域 -->
            <div class="main-bottom-content"></div>
        </div>
        <div class="full-width-block">
            <!-- 底部全宽度内容区域 -->
            <div class="main-bottom-block"></div>
        </div>
    </div>
    <!-- E main 主要内容 E -->
    <!-- S footer 脚部 S -->
    <div class="footer"></div>
    <!-- E footer 脚部 E -->
</div>
<!-- S 右侧功能区 S -->
<div class="right-bar clearfix">
    <div class="right-bar-content"></div>
</div>
<cite>
    <!-- S js S -->
    <script type="text/javascript" src="/public/static/libs/js/jquery/2.1.4/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript">
        $(function () {
            ;
        });
    </script>
    <!-- E js E -->
</cite>
</body>
</html>