@charset "UTF-8";
/**
 * @doc style 基本风格样式
 * @author Heanes
 * @time 2017-09-10 19:42:53 周日
 */

// ------------------------------ 变量值定义区 ------------------------------
// S 基本字体样式
$font:14px/1.3 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
$fontYaHei:14px/1.3 'Microsoft YaHei','Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB',SimSun,sans-serif;
$fontFamily:'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
$fontFamilyYaHei:'Microsoft YaHei','Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB',SimSun,sans-serif;
$primaryColor:#333;
// E 基本字体样式

// S 标题样式
$hNFontWeight:400;
// E 标题样式

// S 链接样式
$aTextDecoration:none;
$aColor:#326eb4;
$aColorVisited:#326eb4;
$aColorHover:#326eb4;
$aColorActive:#8f001e;
// E 链接样式

// S 文字被选中样式
$selectionBgColor:#447099;
$selectionColor:#fff;
// E 文字被选中样式

// ------------------------------ 代码区 ------------------------------
html,body{
  /*background:url("../image/common/bg.jpg") repeat #eee;*/
}
/* S 字体样式 S */
body,button,input,select,textarea{
  font:$font;
  color:$primaryColor;
}
/* E 字体样式 E */

/* S 标题样式 S */
h1,h2,h3,h4,h5,h6{font-weight:$hNFontWeight;}
/* E 标题样式 E */

/* S 链接样式 S */
a{
  color:$aColor;
  text-decoration:none
}
/* a标签还未被访问的状态 */
a:link{

}
/* a标签已被访问过的状态 */
a:visited{
  color:$aColorVisited;
}
a:hover{
  color:$aColorHover;
  text-decoration:none;
}
a:active{
  color:$aColorActive
}
/* E 链接样式 E */

/* S 文字被选中样式 S */
::selection{
  background-color:$selectionBgColor;
  color:$selectionColor;
}
::-moz-selection{
  background:$selectionBgColor;
  color:$selectionColor;
}
/* E 文字被选中样式 E */

ul{margin-left:4em}