/**
 * @doc mixin库
 * @author Heanes
 * @time 2018-04-13 23:44:37 周五
 */

/**
 * @doc 超出后用省略号展示
 * @author Heanes
 * @time 2018-04-05 23:11:07 周四
 */
@mixin textOverFlowEllipsis{
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}