@charset "UTF-8";
/**
 * @doc card列表
 * @author Heanes
 * @time 2018-04-02 21:56:24 周一
 */
$cardListMargin:10px;
$cardWrapWidth:320px;
$carWrapBoxShadow:0 0 2px 2px rgba(212, 218, 231, 0.6);
$carWrapBoxHoverShadow:0 0 16px 2px rgba(167, 201, 255, 0.6);
$cardInfoBorderColor:#eee;
$cardWrapBorderRadius:4px;
$cardImgHeight:200px;
$cardInfoHeight:80px;
$cardAuthorityHeight:60px;
$userAvatarSize:40px;
// 动画偏移计算
$cardImgScale:1.3;
$cardImgTranslate: (0.5 - (0.5 / $cardImgScale))*100%;

$cardWrapMarginLeft:0;
$cardWrapMarginRight:10px;
$cardWrapMarginBottom:16px;
$cardWrapMargin:0 $cardWrapMarginRight $cardWrapMarginBottom $cardWrapMarginLeft;

$cardNameFontSize:14px;
$cardTypeFontSize:13px;
$cardTypeColor:#888;
$cardInfoItemFontSize:14px;
$cardInfoItemColor:#888;

$cardTypeNameBorder:4px solid;

@mixin textOverFlowEllipsis{
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}


$frontEndColor:#3347bf;
$backendColor:#79bf78;
$operationColor:#bf3a85;
$clientColor:#1bbf9e;
.card-type, .card-list{
  margin:$cardListMargin;
}
.card-type{

  .type-name{
    border-bottom:$cardTypeNameBorder $frontEndColor;
    padding-bottom:2px;
    line-height:40px;

    &.frontend{
      color:$frontEndColor;
      border-color:$frontEndColor;
    }
    &.backend{
      color:$backendColor;
      border-color:$backendColor;
    }
    &.operation{
      color:$operationColor;
      border-color:$operationColor;
    }
    &.client{
      color:$clientColor;
      border-color:$clientColor;
    }
  }
}


.card-list{
  font-size:0;

  .card-wrap{
    display:inline-block;
    width:$cardWrapWidth;
    margin:$cardWrapMargin;
    vertical-align:top;
    box-shadow:$carWrapBoxShadow;
    border-radius:$cardWrapBorderRadius;
    overflow:hidden;

    &:hover{
      box-shadow:$carWrapBoxHoverShadow;
      animation:glow 1s infinite alternate ease-in-out
    }

    a{
      color:#444;
    }

    .card-img{
      height:$cardImgHeight;
      overflow:hidden;

      .card-img-link{
        display:block;
        width:100%;
        height:100%;
        text-align:center;
        background-color:#fff;

        img{
          max-width:100%;
          max-height:100%;
        }
      }

      transition:all .8s ease-in-out;
      &:hover{
        transform:scale($cardImgScale) translateY($cardImgTranslate) translateX($cardImgTranslate);
        animation:enlargeBackground 8s 1s infinite alternate;
      }
    }

    .card-info, .card-authority{
      padding:0 10px;
      text-align:left;
    }
    .card-info{
      height:$cardInfoHeight;
      line-height:20px;
      border-bottom:1px solid $cardInfoBorderColor;
      margin-top:4px;

      .card-name, .card-category, .card-info-item{
        margin-bottom:4px;
      }

      .card-name{
        font-size:$cardNameFontSize;
      }

      .card-category{
        font-size:$cardTypeFontSize;
        color:$cardTypeColor;
        a{
          color:$cardTypeColor;
        }
      }

      .card-info-item{
        margin-top:10px;
        font-size:$cardInfoItemFontSize;
        color:$cardInfoItemColor;
        span{
          margin-right:10px;
          i{
            margin-right:4px;
          }
        }
      }

    }

    .card-authority{
      height:$cardAuthorityHeight;
      line-height:$cardAuthorityHeight;
      font-size:0;

      .author-link, .update-time{
        display:inline-block;
        width:50%;
        vertical-align:top;
        @include textOverFlowEllipsis;
      }
      .author-link{
        position:relative;
        font-size:13px;
        .user-avatar{
          position:absolute;
          top:($cardAuthorityHeight - $userAvatarSize) / 2;
          width:$userAvatarSize;
          height:$userAvatarSize;
          margin:0 8px 0 4px;
          border-radius:50%;
          background:#fff center/100% 100% no-repeat;
          transition:all .8s ease-in-out;
          &:hover{
            transform:scale(1.3);
            animation:glow 1s infinite alternate ease-in-out
          }
        }

        .user-name{
          margin-left:52px;
          @include textOverFlowEllipsis;
        }

      }

      .update-time{
        font-size:12px;
        text-align:right;
      }

    }
  }
}

@media screen and (max-width: 970px){
  .card-list{
    text-align:center;
    .card-wrap{
      margin:0 auto $cardWrapMarginBottom;
    }
  }
}


@keyframes glow{
  0%{
    box-shadow:0 0 12px rgba(72, 106, 170, 0.5);
    border-color:rgba(160, 179, 214, 0.5);
  }
  100%{
    box-shadow:0 0 12px rgba(72, 106, 170, 1.0), 0 0 18px rgba(0, 140, 255, 1.0);
    border-color:rgba(160, 179, 214, 1.0);
  }
}

/**
 * @doc 放大显示，并且从左上角->右上角->右下角->左下角移动
 * @author Heanes
 * @time 2018-04-05 22:36:38 周四
 */
@keyframes enlargeBackground{
  0%{
    transform:scale($cardImgScale) translateY($cardImgTranslate) translateX($cardImgTranslate);
  }
  25%{
    transform:scale($cardImgScale) translateY($cardImgTranslate) translateX(-$cardImgTranslate);
  }
  50%{
    transform:scale($cardImgScale) translateY(-$cardImgTranslate) translateX(-$cardImgTranslate);
  }
  75%{
    transform:scale($cardImgScale) translateY(-$cardImgTranslate) translateX($cardImgTranslate);
  }
  100%{
    transform:scale($cardImgScale) translateY($cardImgTranslate) translateX($cardImgTranslate);
  }
}