@charset "UTF-8";
/**
 * @doc common
 * @author Heanes
 * @time 2017-09-07 19:44:42 周四
 */

@import "style/style-2017";

/**
 * @doc 前台公共样式
 * @author Heanes
 * @time 2015-11-21 22:11:30
 */
/* 常用及简写样式 */
.fixed{position:fixed;z-index:100;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clear{clear:both;content:" ";display:block;}
.clear-left{clear:left;content:" ";display:block;}
.clear-right{clear:right;content:" ";display:block;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.for-eye-protect{background:#e3edcd;}
.none{display:none}
.relative{position:relative}

/* iframe */
iframe{
  display:block;
  width:100%;
  height:100%;
  border:0;
}
/* 通用命名下的样式 */
.wrap{width:100%;}
.wrap,
.main-wrap,
.header,
.main,
.footer,
.center-wrap,
.left-wrap,
.right-wrap{margin:0 auto;}
[class*="-wrap"]{margin:0 auto;}
.fl{float:left;}

/**
 * @doc 页面面包屑导航
 * @author Heanes
 * @time 2017-10-23 11:46:46 周一
 */
$pageBreadcrumbBgColor:#fff;
$pageBreadcrumbBorderColor:#f0efeb;
$pageBreadcrumbMargin:14px;
$pageBreadcrumbPadding:8px;
.page-breadcrumb{margin:$pageBreadcrumbMargin;padding:$pageBreadcrumbPadding;background-color:$pageBreadcrumbBgColor;border-bottom:1px solid $pageBreadcrumbBorderColor;}
.page-breadcrumb.bg-normal{background-color:#f5f5f5;border:1px solid #ddd;}

$sidebarFixedWidth:50px;
.sidebar-fixed-handle{
    position:fixed;
    left:50%;
    width:$sidebarFixedWidth;
    bottom:200px;
    z-index:100;

    .handle-item{
        display:inline-block;
        position:relative;
        width:$sidebarFixedWidth;
        height:$sidebarFixedWidth;
        background-color:#dcdcdcc2;
        margin-bottom:1px;
        text-align:center;
        cursor:pointer;
        color:inherit;
        &:hover{
            background-color:#192cbbbf;
            color:#fff;
            .focused-show{
                display:block;
            }
        }
        .handle-icon{
            font-size:28px;
            width:100%;
        }
        .handle-text{
            font-size:13px;
        }
        .focused-show{
            display:none;
            position:absolute;
            right:100%;
            top:50%;
            max-width:200px;
            transform:translateY(-50%);
        }
    }
}
/**
 * @doc footer页脚样式
 * @author Heanes
 * @time 2018-04-16 12:05:01 周一
 */
/* S 脚部 S */
$footerHoverColor:#e7e7e8;
$footerLogoImgHeight:80px;
$socialQrcodeImgHeight:200px;
.footer{
    .footer-content{
        background:#212121;
        &.footer-top-border{
            border-top:14px solid #000;
        }
        a:hover{
            text-decoration:underline;
        }

        .footer-top-wrap{
            .footer-website-logo, .add-link{
                display:inline-block;
                vertical-align:top;
            }
            .footer-website-logo{
                padding:30px;
                text-align:center;
                border-radius:50%;
                &:hover{
                    background-color:#eee;
                    border-radius:50%;
                    .footer-website-home-link{
                        background-color:#fff;
                        box-shadow:0 0 10px 0 rgba(173, 173, 173, 0.5);
                        -webkit-animation:rotateAlways 2s linear infinite;
                        .logo-img{
                            box-shadow:0 0 10px 0 rgba(173, 173, 173, 0.5);
                        }
                    }
                }
                .footer-website-home-link{
                    display:block;
                    padding:24px;
                    border-radius:50%;
                    .logo-img{
                        width:$footerLogoImgHeight;
                        max-width:$footerLogoImgHeight;
                        border-radius:10px;
                    }
                }
            }
            .add-link{
                padding-left:10px;
                .link-group{
                    margin:10px 0 0;
                    & > li{
                        display:inline-block;
                        width:160px;
                    }
                    .link-category{
                        font-size:14px;
                        height:26px;
                        color:#8c8c8c;
                        padding-left:10px;
                        margin-bottom:0;
                    }
                    .link-list{
                        margin:0 auto;
                        li{
                            padding-left:10px;
                            height:28px;
                            line-height:28px;
                            overflow:hidden;
                        }
                        a{
                            color:#b5b5b5;
                            font-size:13px;
                            &:hover{
                                color:$footerHoverColor;
                            }
                        }
                    }
                }
            }

            /* 社会化链接 */
            .link-social{
                padding:10px 0;
                text-align:center;
                .social-icon{
                    display:inline-block;
                    width:48px;
                    height:48px;
                    background:#eee url("../image/footer/footer-sprite.png") no-repeat;
                    background-size:300px;
                    border-radius:50%;
                    margin-right:10px;
                    cursor:pointer;
                    &:last-child{
                        margin-right:0;
                    }
                    &.qq{
                        background-position:2px -42px;
                        &:hover{
                            background-position:2px 3px;
                        }
                    }
                    &.wechat{
                        background-position:-42px -42px;
                        &:hover{
                            background-position:-42px 4px;

                            .focused-show{
                                display:block;
                                width:$socialQrcodeImgHeight;
                            }
                        }

                        position:relative;
                        .focused-show{
                            position:absolute;
                            display:none;
                            bottom:100%;
                            right:50%;
                            transform:translateX($socialQrcodeImgHeight/2) translateY(-5px);
                            .img{
                                max-width:100%;
                            }
                        }
                    }
                    &.weibo{
                        background-position:-88px -42px;
                        &:hover{
                            background-position:-88px 3px;
                        }
                    }
                    &.github{
                        background-position:-133px -44px;
                        &:hover{
                            background-position:-133px 1px;
                            background-color:#aaa;
                        }
                    }
                    &.zhihu{
                        background-position:-178px -42px;
                        &:hover{
                            background-position:-178px 3px;
                        }
                    }
                    .link{
                        display:block;
                        width:100%;
                        height:100%;
                    }
                }
            }
        }

        .footer-bottom-wrap{
            .copyright{
                background-color:#000;
                color:#5d5d5d;
                font-size:13px;
                padding:6px 0;
                .p{
                    text-align:center;
                    line-height:20px;
                    margin:0;
                    .span{
                        &:hover{
                            color:$footerHoverColor;
                            a{
                                color:$footerHoverColor;
                            }
                        }
                        a{
                            color:#5d5d5d;
                            &:hover{
                                color:#7c94e8;
                            }
                        }
                    }
                }
            }
        }
    }

    /* 脚部装饰 */
    .footer-decorate{
        .footer-animal{
            position:relative;
            bottom:0;
            height:60px;
            .footer-footprint{
                position:absolute;
                left:0;
                bottom:0;
                width:100%;
                height:35px;
                background:url(../image/footer/other/footprint-to-right.png) repeat-x;
                background-size:contain;
            }
            .footer-footprint img{
                width:70px;
                -webkit-transform:rotate(90deg);
            }
            .footer-cat{
                position:absolute;
                right:0;
                width:200px;
                bottom:0;
                padding-left:20px;
                z-index:2;
                background-color:#fff;
                border-radius:50% 0 0 50%;
            }
            .footer-cat img{
                max-width:70px;
            }
        }
    }
}
/* E 脚部 E */