@charset "UTF-8";
/**
 * @doc common
 * @author Heanes
 * @time 2017-09-07 19:44:42 周四
 */

@import "style/style-2017";

/**
 * @doc 前台公共样式
 * @author Heanes
 * @time 2015-11-21 22:11:30
 */
/* 常用及简写样式 */
.fixed{position:fixed;z-index:100;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clear{clear:both;content:" ";display:block;}
.clear-left{clear:left;content:" ";display:block;}
.clear-right{clear:right;content:" ";display:block;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.for-eye-protect{background:#e3edcd;}
.none{display:none}
.relative{position:relative}

/* iframe */
iframe{
  display:block;
  width:100%;
  height:100%;
  border:0;
}
/* 通用命名下的样式 */
.wrap{width:100%;}
.wrap,
.main-wrap,
.header,
.main,
.footer,
.center-wrap,
.left-wrap,
.right-wrap{margin:0 auto;}
[class*="-wrap"]{margin:0 auto;}
.fl{float:left;}

/**
 * @doc 页面面包屑导航
 * @author Heanes
 * @time 2017-10-23 11:46:46 周一
 */
$pageBreadcrumbBgColor:#fff;
$pageBreadcrumbBorderColor:#f0efeb;
$pageBreadcrumbMargin:14px;
$pageBreadcrumbPadding:8px;
.page-breadcrumb{margin:$pageBreadcrumbMargin;padding:$pageBreadcrumbPadding;background-color:$pageBreadcrumbBgColor;border-bottom:1px solid $pageBreadcrumbBorderColor;}
.page-breadcrumb.bg-normal{background-color:#f5f5f5;border:1px solid #ddd;}

/**
 * @doc footer页脚样式
 * @author Heanes
 * @time 2018-04-16 12:05:01 周一
 */
/* S 脚部 S */
.footer{
  .footer-wrap{width:100%;}
  .footer-content{background:#686b6c;}

  .footer-content .footer-website-logo{float:left;width:120px;padding:20px 0;text-align:center}
  .footer-content .footer-website-logo .footer-website-home-link{display:block;}
  .footer-content .footer-website-logo .footer-website-home-link img{max-width:120px;}
  .footer-content .add-link{float:left;padding-left:50px;}
  .footer-content .add-link-ul{}
  .footer-content .add-link-ul>li{display:inline-block;width:160px;padding:20px 0}
  .footer-content .add-link-ul li:hover{}
  .footer-content .add-link-ul li h3.link-category{font-size:14px;height:26px;color:#8c8c8c;padding-left:10px}
  .footer-content .add-link-ul .link-list-ul li{padding-left:10px;height:30px;line-height:30px;overflow:hidden;}
  .footer-content .add-link-ul .link-list-ul a{color:#b5b5b5;font-size:13px;}
  .footer-content .add-link-ul .link-list-ul a:hover{color:#e7e7e8;}

  .footer-content .copyright{background-color:#5a5d5e;color:#909090;font-size:13px;padding:6px 0;}
  .footer-content .copyright p{text-align:center;line-height:20px;margin:0;}
  .footer-content .copyright a{color:#b3b3b3;}
  .footer-content .copyright a:hover{color:#e7e7e8;}
  .footer-content.footer-top-border{border-top:14px solid #000;}
  .footer-content a:hover{text-decoration:underline;}
  .footer-website-home-link:hover{-webkit-animation:rotateAlways 1.3s linear infinite;}

  /* 脚部装饰 */
  .footer-decorate{}
  .footer-decorate .footer-animal{position:relative;bottom:0;height:70px;}
  .footer-decorate .footer-animal .footer-footprint{position:absolute;left:10px;bottom:0;width:630px;height:35px;background:url(../image/footer/other/footprint-to-right.png) repeat-x;background-size:contain;}
  .footer-decorate .footer-animal .footer-footprint img{width:70px;-webkit-transform:rotate(90deg);}
  .footer-decorate .footer-animal .footer-cat{position:absolute;right:220px;bottom:0;}
  .footer-decorate .footer-animal .footer-cat img{max-width:70px;}
}
/* E 脚部 E */