@charset "UTF-8";
/**
 * @doc css
 * @author Heanes
 * @time 2017-10-28 23:45:47 周六
 */
/**
 * @doc responsive
 */
/**
 * @doc 前台响应式样式
 * @author Heanes
 * @time 2017-05-12 10:56:46 周五
 */
/* Responsive */
/* extra widely screen */
/*@media screen and (min-width:1921px){
    .main-wrap{width:1840px;}
    .center-wrap{width:1300px;}
    .right-fix-block .right-corner{margin-left:679px;}
}*/
/* PC */
/* 此模式下左右工具栏展现 */
.responsive {
  /* NoteBook */
  /* 此宽度下不显示侧栏 */
  /* ipad */
  /* iPhone 6plus */
  /* iPhone 6 */
  /* iPhone 3 4 5 */
  /* Android and + */
  /* Android and + */
  /* 设备分辨率媒体查询 */ }
  @media screen and (min-width: 1367px) {
    .responsive .main-wrap {
      width: 94%;
      max-width: 1740px; }
      .responsive .main-wrap .left-wrap {
        position: relative;
        width: 260px;
        margin-right: -260px;
        z-index: 2; }
      .responsive .main-wrap .right-wrap {
        position: relative;
        width: 260px;
        margin-left: -260px; }
    .responsive .center-wrap {
      width: 100%;
      position: relative; }
      .responsive .center-wrap .center-content {
        position: relative;
        margin-left: 260px;
        margin-right: 260px; }
    .responsive .right-fix-block .right-corner {
      margin-left: 679px; } }
  @media screen and (max-width: 1366px) {
    .responsive .main-wrap {
      width: 1200px; }
    .responsive .center-wrap {
      width: 100%;
      position: relative; }
    .responsive .center-wrap .center-content {
      position: relative;
      margin-right: 260px; }
    .responsive .main-content .right-wrap {
      position: relative;
      width: 260px;
      margin-left: -260px; }
    .responsive .left-wrap, .responsive .left-bar, .responsive .right-bar {
      display: none; } }
  @media screen and (max-width: 1200px) {
    .responsive .main-wrap {
      width: 100%;
      float: none; }
    .responsive .center-wrap {
      width: 100%; } }
  @media screen and (max-width: 767px) {
    .responsive .center-wrap .center-content {
      position: relative;
      margin-right: 0; }
    .responsive .right-wrap {
      display: none; } }
  @media screen and (max-width: 479px) {
    .responsive h1, .responsive h2 {
      font-size: 16px; }
    .responsive h3 {
      font-size: 14px; } }

/**
 * @doc common
 */
/**
 * @doc common
 * @author Heanes
 * @time 2017-09-07 19:44:42 周四
 */
/**
 * @doc style 基本风格样式
 * @author Heanes
 * @time 2017-09-10 19:42:53 周日
 */
html, body {
  /*background:url("../image/common/bg.jpg") repeat #eee;*/ }

/* S 字体样式 S */
body, button, input, select, textarea {
  font: 14px/1.3 "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  color: #333; }

/* E 字体样式 E */
/* S 标题样式 S */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/* E 标题样式 E */
/* S 链接样式 S */
a {
  color: #326eb4;
  text-decoration: none; }

/* a标签还未被访问的状态 */
/* a标签已被访问过的状态 */
a:visited {
  color: #326eb4; }

a:hover {
  color: #326eb4;
  text-decoration: none; }

a:active {
  color: #8f001e; }

/* E 链接样式 E */
/* S 文字被选中样式 S */
::selection {
  background-color: #447099;
  color: #fff; }

::-moz-selection {
  background: #447099;
  color: #fff; }

/* E 文字被选中样式 E */
ul {
  margin-left: 4em; }

/**
 * @doc 前台公共样式
 * @author Heanes
 * @time 2015-11-21 22:11:30
 */
/* 常用及简写样式 */
.fixed {
  position: fixed;
  z-index: 100; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both;
  content: " ";
  display: block; }

.clear-left {
  clear: left;
  content: " ";
  display: block; }

.clear-right {
  clear: right;
  content: " ";
  display: block; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.for-eye-protect {
  background: #e3edcd; }

.none {
  display: none; }

.relative {
  position: relative; }

/* iframe */
iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0; }

/* 通用命名下的样式 */
.wrap {
  width: 100%; }

.wrap,
.main-wrap,
.header,
.main,
.footer,
.center-wrap,
.left-wrap,
.right-wrap {
  margin: 0 auto; }

[class*="-wrap"] {
  margin: 0 auto; }

.fl {
  float: left; }

/**
 * @doc 页面面包屑导航
 * @author Heanes
 * @time 2017-10-23 11:46:46 周一
 */
.page-breadcrumb {
  margin: 14px;
  padding: 8px;
  background-color: #fff;
  border-bottom: 1px solid #f0efeb; }

.page-breadcrumb.bg-normal {
  background-color: #f5f5f5;
  border: 1px solid #ddd; }

/**
 * @doc footer页脚样式
 * @author Heanes
 * @time 2018-04-16 12:05:01 周一
 */
/* S 脚部 S */
.footer {
  /* 脚部装饰 */ }
  .footer .footer-wrap {
    width: 100%; }
  .footer .footer-content {
    background: #686b6c; }
  .footer .footer-content .footer-website-logo {
    float: left;
    width: 120px;
    padding: 20px 0;
    text-align: center; }
  .footer .footer-content .footer-website-logo .footer-website-home-link {
    display: block; }
  .footer .footer-content .footer-website-logo .footer-website-home-link img {
    max-width: 120px; }
  .footer .footer-content .add-link {
    float: left;
    padding-left: 50px; }
  .footer .footer-content .add-link-ul > li {
    display: inline-block;
    width: 160px;
    padding: 20px 0; }
  .footer .footer-content .add-link-ul li h3.link-category {
    font-size: 14px;
    height: 26px;
    color: #8c8c8c;
    padding-left: 10px; }
  .footer .footer-content .add-link-ul .link-list-ul li {
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    overflow: hidden; }
  .footer .footer-content .add-link-ul .link-list-ul a {
    color: #b5b5b5;
    font-size: 13px; }
  .footer .footer-content .add-link-ul .link-list-ul a:hover {
    color: #e7e7e8; }
  .footer .footer-content .copyright {
    background-color: #5a5d5e;
    color: #909090;
    font-size: 13px;
    padding: 6px 0; }
  .footer .footer-content .copyright p {
    text-align: center;
    line-height: 20px;
    margin: 0; }
  .footer .footer-content .copyright a {
    color: #b3b3b3; }
  .footer .footer-content .copyright a:hover {
    color: #e7e7e8; }
  .footer .footer-content.footer-top-border {
    border-top: 14px solid #000; }
  .footer .footer-content a:hover {
    text-decoration: underline; }
  .footer .footer-website-home-link:hover {
    -webkit-animation: rotateAlways 1.3s linear infinite; }
  .footer .footer-decorate .footer-animal {
    position: relative;
    bottom: 0;
    height: 70px; }
  .footer .footer-decorate .footer-animal .footer-footprint {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 630px;
    height: 35px;
    background: url(../image/footer/other/footprint-to-right.png) repeat-x;
    background-size: contain; }
  .footer .footer-decorate .footer-animal .footer-footprint img {
    width: 70px;
    -webkit-transform: rotate(90deg); }
  .footer .footer-decorate .footer-animal .footer-cat {
    position: absolute;
    right: 220px;
    bottom: 0; }
  .footer .footer-decorate .footer-animal .footer-cat img {
    max-width: 70px; }

/* E 脚部 E */
/**
 * @doc mixin
 */
/**
 * @doc mixin库
 * @author Heanes
 * @time 2018-04-13 23:44:37 周五
 */
/**
 * @doc 超出后用省略号展示
 * @author Heanes
 * @time 2018-04-05 23:11:07 周四
 */
/**
 * @doc home
 */
/**
 * @doc 首页
 * @author Heanes
 * @time 2017-10-28 23:50:49 周六
 */
.full-width-height {
  width: 100%;
  height: 100%; }

/**
 * @doc 顶部全屏展示区域
 */
.show-full-bg-image {
  position: relative;
  display: table;
  width: 100%;
  height: 100%; }
  .show-full-bg-image .full-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../image/home/devices-workation.jpg) no-repeat scroll center center/cover;
    filter: blur(2px); }

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.show-full-bg-image .motto-show {
  padding: 20px 0;
  line-height: 40px; }
  .show-full-bg-image .motto-show h1 {
    font-size: 3.2em; }
  .show-full-bg-image .motto-show .show-text {
    line-height: 1.3;
    color: #fff; }
    .show-full-bg-image .motto-show .show-text.motto-author {
      text-align: right;
      padding-right: 4em; }
  .show-full-bg-image .motto-show .dash {
    display: inline-block;
    transform: scale(1.7, 1);
    margin-right: .3em; }

/**
 * @doc 滚屏提示按钮
 * @author Heanes
 * @time 2017-10-29 20:12:27 周日
 */
.show-next-tips {
  position: absolute;
  width: 100%;
  text-align: center; }
  .show-next-tips .next-btn {
    color: #fff; }

.blur-bg {
  position: relative; }
  .blur-bg:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    content: ' ';
    filter: blur(2px); }

.blur-bg > * {
  position: relative; }

/**
 * @doc project
 */
/**
 * @doc card列表
 * @author Heanes
 * @time 2018-04-02 21:56:24 周一
 */
.card-type-list-wrap {
  padding: 0 10px; }

.card-type-item {
  border-bottom: 1px dashed #eee; }
  .card-type-item .card-type, .card-type-item .card-list {
    padding: 10px 0; }
  .card-type-item .card-type {
    position: relative; }
    .card-type-item .card-type:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      height: 4px;
      background-color: #3347bf;
      width: 100%;
      transition: width .2s; }
    .card-type-item .card-type .type-name {
      line-height: 40px;
      margin: 0; }
  .card-type-item.default .card-type:after {
    background-color: #3347bf; }
  .card-type-item.frontend .card-type:after {
    background-color: #3347bf; }
  .card-type-item.backend .card-type:after {
    background-color: #79bf78; }
  .card-type-item.design .card-type:after {
    background-color: #a73cff; }
  .card-type-item.operation .card-type:after {
    background-color: #bf3a85; }
  .card-type-item.client .card-type:after {
    background-color: #1bbf9e; }
  .card-type-item.translate .card-type:after {
    background-color: #bfb432; }
  .card-type-item.todo .card-type:after {
    background-color: #bf0100; }
  .card-type-item:hover .card-type:after {
    animation: width-stretching 1s ease-in-out; }
  .card-type-item .card-list {
    font-size: 0;
    padding-bottom: 0; }
    .card-type-item .card-list .card-wrap {
      display: inline-block;
      width: 284px;
      margin: 0 8px 16px 8px;
      vertical-align: top;
      box-shadow: 0 0 2px 2px rgba(212, 218, 231, 0.6);
      border-radius: 4px;
      background-color: #fff;
      overflow: hidden; }
      .card-type-item .card-list .card-wrap:hover {
        box-shadow: 0 0 16px 2px rgba(167, 201, 255, 0.6);
        animation: glow 1s infinite alternate ease-in-out; }
      .card-type-item .card-list .card-wrap a {
        color: #444; }
        .card-type-item .card-list .card-wrap a:hover {
          color: #008cff; }
      .card-type-item .card-list .card-wrap .card-img {
        height: 200px;
        overflow: hidden;
        transition: all .8s ease-in-out; }
        .card-type-item .card-list .card-wrap .card-img .card-img-link {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          background-color: #fff; }
          .card-type-item .card-list .card-wrap .card-img .card-img-link img {
            max-width: 100%;
            max-height: 100%; }
        .card-type-item .card-list .card-wrap .card-img:hover {
          transform: scale(1.3) translateY(11.5384615385%) translateX(11.5384615385%);
          animation: enlargeBackground 8s 1s infinite alternate; }
      .card-type-item .card-list .card-wrap .card-info, .card-type-item .card-list .card-wrap .card-authority {
        text-align: left; }
      .card-type-item .card-list .card-wrap .card-info {
        height: 80px;
        line-height: 20px;
        border-bottom: 1px solid #eee;
        margin-top: 4px;
        padding: 0 10px; }
        .card-type-item .card-list .card-wrap .card-info .card-name, .card-type-item .card-list .card-wrap .card-info .card-category, .card-type-item .card-list .card-wrap .card-info .card-info-item {
          margin-bottom: 4px; }
        .card-type-item .card-list .card-wrap .card-info .card-name {
          font-size: 14px; }
        .card-type-item .card-list .card-wrap .card-info .card-category {
          font-size: 13px;
          color: #888; }
          .card-type-item .card-list .card-wrap .card-info .card-category a {
            color: #888; }
        .card-type-item .card-list .card-wrap .card-info .card-info-item {
          margin-top: 10px;
          font-size: 14px;
          color: #888; }
          .card-type-item .card-list .card-wrap .card-info .card-info-item .item {
            margin-right: 10px; }
            .card-type-item .card-list .card-wrap .card-info .card-info-item .item i {
              margin-right: 4px; }
            .card-type-item .card-list .card-wrap .card-info .card-info-item .item a {
              color: inherit; }
              .card-type-item .card-list .card-wrap .card-info .card-info-item .item a:hover {
                color: #008cff; }
      .card-type-item .card-list .card-wrap .card-authority {
        height: 60px;
        line-height: 60px;
        font-size: 0;
        padding: 0 4px; }
        .card-type-item .card-list .card-wrap .card-authority .author-link, .card-type-item .card-list .card-wrap .card-authority .update-time {
          display: inline-block;
          width: 50%;
          vertical-align: top; }
        .card-type-item .card-list .card-wrap .card-authority .author-link {
          position: relative;
          font-size: 13px; }
          .card-type-item .card-list .card-wrap .card-authority .author-link .user-avatar, .card-type-item .card-list .card-wrap .card-authority .author-link .user-name {
            display: inline-block;
            vertical-align: middle; }
          .card-type-item .card-list .card-wrap .card-authority .author-link .user-avatar {
            position: absolute;
            top: 10px;
            width: 40px;
            height: 40px;
            margin: 0 8px 0 4px;
            border-radius: 50%;
            background: #fff center/100% 100% no-repeat;
            transition: all .8s ease-in-out; }
            .card-type-item .card-list .card-wrap .card-authority .author-link .user-avatar:hover {
              transform: scale(1.3);
              animation: glow 1s infinite alternate ease-in-out; }
          .card-type-item .card-list .card-wrap .card-authority .author-link .user-name {
            width: 100%;
            padding-left: 52px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; }
        .card-type-item .card-list .card-wrap .card-authority .update-time {
          font-size: 12px;
          text-align: right;
          letter-spacing: -0.1px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }

@media screen and (max-width: 970px) {
  .card-list {
    text-align: center; }
    .card-list .card-wrap {
      margin: 0 auto 16px; } }
@keyframes glow {
  0% {
    box-shadow: 0 0 12px rgba(72, 106, 170, 0.5);
    border-color: rgba(160, 179, 214, 0.5); }
  100% {
    box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff;
    border-color: #a0b3d6; } }
@keyframes width-stretching {
  0% {
    width: 100%; }
  50% {
    width: 0; }
  100% {
    width: 100%; } }
/**
 * @doc 放大显示，并且从左上角->右上角->右下角->左下角移动
 * @author Heanes
 * @time 2018-04-05 22:36:38 周四
 */
@keyframes enlargeBackground {
  0% {
    transform: scale(1.3) translateY(11.5384615385%) translateX(11.5384615385%); }
  25% {
    transform: scale(1.3) translateY(11.5384615385%) translateX(-11.5384615385%); }
  50% {
    transform: scale(1.3) translateY(-11.5384615385%) translateX(-11.5384615385%); }
  75% {
    transform: scale(1.3) translateY(-11.5384615385%) translateX(11.5384615385%); }
  100% {
    transform: scale(1.3) translateY(11.5384615385%) translateX(11.5384615385%); } }

/*# sourceMappingURL=css.css.map */
