<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <!-- meta -->
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <!-- responsive -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta name="author" content="Heanes heanes.com email(heanes@163.com)"/>
    <meta name="keywords" content="软件,商务,HTML,tutorials,source codes"/>
    <meta name="description" content="描述，不超过150个字符"/>
    <!-- favicon -->
    <link rel="shortcut icon" href="/public/static/image/favicon/favicon.ico"/>
    <link rel="bookmark" href="/public/static/image/favicon/favicon.ico"/>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="//ui.heanes.com/dist/css/heanesUI.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/css.css"/>
    <title>页脚</title>
</head>
<body class="scrollbar scrollbar-mini responsive">
<!-- S header 头部 S -->
<div class="header"></div>
<!-- E header 头部 E -->
<!-- S main 主要内容 S -->
<div class="main">
    <!-- S main-top 主体顶部全宽度内容区域 S -->
    <div class="main-top"></div>
    <!-- E main-top 主体顶部全宽度内容区域 E -->
    <div class="main-wrap">
        <!-- S 主体顶部内容 S -->
        <div class="main-content-top"></div>
        <!-- E 主体顶部内容 E -->
        <!-- S 主体内容 S -->
        <div class="main-content clearfix">
            <!-- S 中心-左侧边栏区域 S -->
            <div class="left-wrap fl">
                <div class="left-content"></div>
            </div>
            <!-- E 中心-左侧边栏区域 E -->
            <!-- S 中心区域 S -->
            <div class="center-wrap fl">
                <div class="center-content"></div>
            </div>
            <!-- E 中心区域 E -->
            <!-- S 中心-右侧边栏区域 S -->
            <div class="right-wrap fl">
                <div class="right-content"></div>
            </div>
            <!-- E 中心-右侧边栏区域 E -->
        </div>
        <!-- S 主体底部区域 S -->
        <div class="main-content-bottom"></div>
        <!-- E 主体底部区域 E -->
    </div>
    <!-- S 底部全宽度内容区域 S -->
    <div class="main-bottom"></div>
    <!-- S 底部全宽度内容区域 S -->
</div>
<!-- E main 主要内容 E -->
<!-- S footer 脚部 S -->
<div class="footer">
    <!-- S 页脚装饰 S -->
    <div class="footer-decorate">
        <div class="footer-animal main-wrap">
            <div class="footer-footprint"></div>
            <div class="footer-cat">
                <img src="../static/image/footer/other/little-cat.png">
            </div>
        </div>
    </div>
    <!-- E 页脚装饰 E -->
    <div class="footer-content footer-top-border">
        <div class="footer-top-wrap main-wrap">
            <div class="footer-website-logo">
                <a href="" class="footer-website-home-link">
                    <img class="logo-img" src="../static/image/common/logo/logo.svg">
                </a>
            </div>
            <div class="add-link">
                <ul class="link-group">
                    <li>
                        <h3 class="link-category">分类一</h3>
                        <ul class="link-list">
                            <li>
                                <a href="javascript:;">链接1</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接2</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接3</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接4</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接5</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="link-category">分类一</h3>
                        <ul class="link-list">
                            <li>
                                <a href="javascript:;">链接1</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接2</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接3</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接4</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接5</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="link-category">分类一</h3>
                        <ul class="link-list">
                            <li>
                                <a href="javascript:;">链接1</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接2</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接3</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接4</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接5</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="link-category">分类一</h3>
                        <ul class="link-list">
                            <li>
                                <a href="javascript:;">链接1</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接2</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接3</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接4</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接5</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="link-category">分类一</h3>
                        <ul class="link-list">
                            <li>
                                <a href="javascript:;">链接1</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接2</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接3</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接4</a>
                            </li>
                            <li>
                                <a href="javascript:;">链接5</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- S 关于站长 S -->
            <div class="about-web-owner"></div>
            <!-- E 关于站长 E -->
            <!-- S 社会化链接 S -->
            <div class="link-social main-wrap">
                <div class="social-icon qq"><a class="link" href="http://wpa.qq.com/msgrd?v=3&uin=137845848" target="_blank"></a></div>
                <div class="social-icon wechat">
                    <a class="link" href="javascript:;" target="_blank"></a>
                    <span class="focused-show wechat-qrcode"><img class="img" src="../static/image/common/social/wechat/heanes-wechat-qrcode-style1.jpg"></span>
                </div>
                <div class="social-icon weibo"><a class="link" href="http://weibo.com/heanes" target="_blank"></a></div>
                <div class="social-icon github"><a class="link" href="https://github.com/Heanes" target="_blank"></a></div>
                <div class="social-icon zhihu"><a class="link" href="https://www.zhihu.com/people/heanes/" target="_blank"></a></div>
            </div>
            <!-- E 社会化链接 E -->
        </div>
        <div class="footer-bottom-wrap">
            <!-- 版权声明区域 -->
            <div class="copyright">
                <p class="p"><span class="span">本站基于腾讯云服务器构建</span></p>
                <p class="p"><span class="span">京 ICP 证 09002463 号 | Copyright &copy; 2012-2018, <a href="javascript:void(0);">heanes.com</a>, All Rights Reserved</span></p>
            </div>
        </div>
    </div>
</div>
<!-- E footer 脚部 E -->

<!-- S 左侧钉住功能区 S -->
<div class="left-bar clearfix"></div>
<!-- E 左侧钉住功能区 E -->
<!-- S 右侧钉住功能区 S -->
<div class="right-bar clearfix"></div>
<!-- E 右侧钉住功能区 E -->

<div class="static-resource">
    <!-- S js S -->
    <script type="text/javascript" src="/public/static/vendor/js/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <!-- E js E -->
</div>
</body>
</html>